<?xml version="1.0" encoding="utf-8"?>
<!-- RICARDO GUILHERME COELHO BARROS S1314084 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.me.myandroidstuff"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme" >
        <activity
            android:name=".activities.TabsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DisplayResultActivity" >
        </activity>
        <activity android:name=".TrafficListingTestProject" >
        </activity>
        <activity android:name=".activities.HomeActivity" >
        </activity>
        <activity android:name=".activities.DisplayListActivity" >
        </activity>
        <activity android:name=".activities.AmbientModeActivity" >
        </activity>
    </application>

</manifest>
